.launch-item {
    border-radius: 1rem;
    box-shadow: 0 .2rem .5rem rgba($black, .25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.6rem 1.2rem 3.2rem;
    margin-bottom: .8rem;
    width: 100%;

    &__number {
        font-weight: $medium;
        font-size: 4rem;
        width: 7.6rem;
        display: inline-block;
    }

    &__label {
        padding-left: 2.4rem;
        font-size: 3.2rem;
        font-weight: $medium;
        display: inline-block;
    }

    &__mission-content {
        display: flex;
    }

    &__meta-info {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    &__date {
        font-size: 1.6rem;
        font-weight: $regular;
    }

    &__rocket {
        font-size: 2.4rem;
        font-weight: $bold;
    }

    @media (max-width: $breakpoint-wide) {

        &__number {
            font-size: 3rem;
            width: 6rem;
            padding-left: 1.4rem;
        }

        &__label {
            font-size: 2.2rem;
        }

        &__rocket {
            font-size: 2rem;
        }
    }

    @media (max-width: $breakpoint-tablet) {
        padding: 1.2rem;

        &__number {
            font-size: 2rem;
            width: 4rem;
        }

        &__label {
            font-size: 1.8rem;
        }

        &__rocket {
            font-size: 1.6rem;
        }

        &__date {
            font-size: 1.4rem;
        }
    }
}
